<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">
            You have Reached End of the Internet
        </h1>
        <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">Home Page</a>
    </div>

</div>